<div
  id="carreras"
  class="carousel z-30 slide w-full h-full"
  data-bs-ride="carousel"
>
<div class="carousel-inner">

</div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carreras"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carreras"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon " aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<script>
  import CarrerasJSON from "../EditarImagenesNoticias/CarrerasJSON.json";
  const loadImages = document.querySelector(".carousel-inner");
  loadImages.innerHTML = CarrerasJSON.map((carrera) => {
    if (CarrerasJSON[0].carrera === carrera.carrera) {
      return `
          <div class="carousel-item active" data-bs-interval="2600">
            <a
            class="m-auto relative w-[80%] h-[200px] md:h-[700px] rounded-3xl flex flex-col justify-center items-start"
            href="/Carreras/${carrera.enlace}"
          >
          <div class="z-10 text-white absolute left-[10%]">
            <img class="animate-[iconAnimation_2s_infinite] w-[68%] md:w-[80%]" 
              src="${carrera.letra}"
            />
            <img
              class="w-[90px] lg:w-[450px] z-40"
              src="/boton-inscripciones.png"
            />
          </div>
            <img
              class="md:w-full rounded-3xl md:h-full absolute h-full  z-0 lg:object-cover "
              src="${carrera.imagen}.png"
              alt=""
            />
          </a>
          </div>`;
    } else {
      return `    
      <div class="carousel-item" data-bs-interval="2600">
          <a
            class="m-auto relative w-[80%] h-[200px] md:h-[700px] rounded-3xl flex flex-col justify-center items-start"
            href="/Carreras/${carrera.enlace}"
          >
          <div class="z-10 text-white absolute left-[10%]">
            <img class="animate-[iconAnimation_2s_infinite] w-[68%] md:w-[80%]" 
              src="${carrera.letra}"
            />
            <img
              class="w-[20px] lg:w-[450px] z-40"
              src="/boton-inscripciones.png"
            />
          </div>
            <img
              class="md:w-full rounded-3xl md:h-full absolute h-full  z-0 lg:object-cover "
              src="${carrera.imagen}.png"
              alt=""
            />
          </a>
      </div>
`;
    }
  }).join("");

</script>