<div
  id="carreras"
  class="carousel z-30 slide w-full h-full"
  data-bs-ride="carousel"
>
<div class="carousel-inner">

</div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carreras"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carreras"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon " aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<script>
  import CarrerasJSON from "../EditarImagenesNoticias/CarrerasJSON.json";
  const loadImages = document.querySelector(".carousel-inner");
  loadImages.innerHTML = CarrerasJSON.map((carrera) => {
    if (CarrerasJSON[0].carrera === carrera.carrera) {
      return `
          <div class="carousel-item active" data-bs-interval="1800">
            <a
            class="m-auto  relative w-[80%] h-[240px] md:h-[500px] rounded-3xl flex flex-col justify-center items-center p-3 "
            href="/Carreras/${carrera.enlace}"
          >
          <div class="z-10 text-white">
            <img class="w-[70%]" 
              src="${carrera.letra}"
            />
            </div>
            <img
              class="w-[40%] absolute bottom-1 right-4 z-40"
              src="/boton-inscripciones.png"
            />
            <img
              class="w-full rounded-3xl h-full absolute z-0 object-cover "
              src="${carrera.imagen}.png"
              alt=""
            />
          </a>
          </div>`;
    } else {
      return `    
      <div class="carousel-item" data-bs-interval="1800">
          <a
            class="m-auto  relative w-[80%] h-[240px] md:h-[500px] rounded-3xl flex flex-col justify-center items-center p-3 "
            href="/Carreras/${carrera.enlace}"
          >
          <div class="z-10 text-white">
            <img class="w-[70%]" 
              src="${carrera.letra}"
            />
            </div>
            <img
              class="w-[40%] absolute bottom-1 right-4 z-40"
              src="/boton-inscripciones.png"
            />
            <img
              class="w-full rounded-3xl h-full absolute z-0 object-cover "
              src="${carrera.imagen}.png"
              alt=""
            />
          </a>
      </div>
`;
    }
  }).join("");

</script>