---
import NoticiasJSON from '../EditarImagenesNoticias/NoticiasJSON.json'
---
<div class="my-20 md:my-36 grid place-items-center">
  <h2 class="my-7 subtitle -translate-x-[50%] italic text-center text-3xl lg:text-6xl font-black text-[#d94a00]">
    <span class="font-[Adelia] text-blue-950 text-xl md:text-3xl">Noticias en</span> La Paz, Cochabamba, Santa Cruz
  </h2>
  <div class="flex justify-center flex-wrap md:flex-nowrap w-full">
    <a href="/Noticias#1" class="card">
      <div class="card-image">
        <img class="object-cover" src=`${NoticiasJSON[0].imagen}` alt=`${NoticiasJSON[0].titulo}`>
      </div>
      <div class="category">{NoticiasJSON[0].titulo}</div>
      <div class="heading">{NoticiasJSON[0].descripcion}</div>
    </a>
    <a href="/Noticias#2" class="card">
      <div class="card-image">
        <img class="object-cover" src=`${NoticiasJSON[1].imagen}` alt=`${NoticiasJSON[1].titulo}`>
      </div>
      <div class="category">{NoticiasJSON[1].titulo}</div>
      <div class="heading">{NoticiasJSON[1].descripcion}</div>
    </a>
    <a href="/Noticias#3" class="card">
      <div class="card-image">
        <img class="object-cover" src=`${NoticiasJSON[2].imagen}` alt=`${NoticiasJSON[2].titulo}`>
      </div>
      <div class="category">{NoticiasJSON[2].titulo}</div>
      <div class="heading">{NoticiasJSON[2].descripcion}</div>
    </a>
  </div>
  <button class="mt-12 bg-orange-500 text-white text-3xl font-bold w-[90%] md:w-[30%] rounded-xl hover:scale-[1.1] transition-all" ><a class="block text-sm md:text-lg" href="/Noticias">Ver Más</a></button>
</div>
<style>
  .card {
    overflow: hidden;
    width: 270px;
    height: 300px;
    margin: 20px;
    background: #eee;
    padding: 0.4em;
    transition: 1s all;
    border-radius: 6px;
  }
  .card:hover {
    background-color: rgb(255, 189, 91);
  }

  .card-image, img {
    width: 100%;
    height: 180px;
    border-radius: 6px 6px 0 0;
  }

  .card-image:hover {
    transform: scale(0.98);
  }

  .category {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
  }

  .category:hover {
    cursor: pointer;
  }

  .heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
    font-size: 1rem;
  }

  .heading:hover {
    cursor: pointer;
  }

  .name {
    font-weight: 600;
  }

  .name:hover {
    cursor: pointer;
  }
  @media (min-width: 768px) {
    .card {
      width: 30%;
      height: 45vh;
    }
    .card-image, img{
      height: 30vh;
    }
    .category {
      font-size: 4vh;
    }
    .heading {
      font-size: 2vh;
    }
  }
</style>
