---
import BannerInicio from "../components/BannerInicio.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Rey de Reyes | Noticias Comunicados">
    <BannerInicio
        titulo="Noticias"
        imagen="https://images.theconversation.com/files/503994/original/file-20230111-16-50xlpy.jpg?ixlib=rb-4.1.0&rect=0%2C721%2C4585%2C2289&q=45&auto=format&w=1356&h=668&fit=crop"
    />

    <div id="Noticias"></div>
    <div id="loadNoticia" class="m-7"></div>
</Layout>
<style>
    div {
        transition: 4s all;
    }
</style>
<script>
    import NoticiasJSON from "../components/EditarImagenesNoticias/NoticiasJSON.json";
    const Noticias = document.getElementById("Noticias");
    const loadNoticia = document.getElementById("loadNoticia");
    let i = 0;

    Noticias.innerHTML = NoticiasJSON.map((noticia) => {
        i++;
        return `
                <div id="${i}" class="exportNoticia relative mx-auto overflow-hidden p-3 my-3 lg:w-[800px] 2xl:w-[1300px] border-2 rounded-2xl shadow-md hover:bg-gray-200 transition-all w-[90%]">
                    <img class="object-contain m-auto w-auto h-[300px] object-contain" src="${noticia.imagen}" alt="${noticia.titulo}">
                    <div class="mt-3">
                        <h2 class="text-2xl md:text-4xl 2xl:text-6xl text-blue-950 font-bold">${noticia.titulo}</h2>
                        <small>${noticia.fecha}</small>
                        <p class="text-sm md:text-xl 2xl:text-3xl mb-10 text-gray-600">
                          ${noticia.descripcion}
                        </p>
                    </div>
                    <button class="bg-orange-500 min-w-[20%] text-white rounded-full p-1 hover:scale-[1.1] transition-all absolute right-6 bottom-3">
                        Leer
                    </button>
                </div>
            `;
    }).join("");
    const exportNoticia = document.querySelectorAll(".exportNoticia");
    exportNoticia.forEach((noticia) => {
        noticia.addEventListener("click", () => {
            window.scroll({
                top: 230,
                left: 230,
            });
            Noticias.classList.toggle("hidden");
            let index = parseInt(noticia.attributes[0].value) - 1;
            loadNoticia.innerHTML = `
            <button id="volver2" class="bg-orange-500 min-w-[10%] text-white rounded-full p-1 hover:scale-[1.1] transition-all">
            Volver
        </button>
                <h2 class="text-[1.3rem] md:text-4xl xl:text-5xl 2xl:text-6xl text-blue-900 font-semibold text-center">${NoticiasJSON[index].titulo}</h2>
        <img class="m-auto h-[70vh] w-auto" src="${NoticiasJSON[index].imagen}" alt="${NoticiasJSON[index].titulo}">
        <small>${NoticiasJSON[index].fecha}</small>
        <p class="text-[1rem]">
            ${NoticiasJSON[index].parrafo1}
        </p>
        <br>
        <br>
        <p class="text-[1rem]">
            ${NoticiasJSON[index].parrafo2}
        </p>
        <div class="flex justify-center items-center">
            <button id="volver" class="bg-orange-500 min-w-[20%] text-white rounded-full p-1 hover:scale-[1.1] transition-all">
                Volver
            </button>
        </div>
            `;
            const volver = document.getElementById("volver");
            volver.addEventListener("click", () => {
                location.reload();
                window.scroll({
                top: 0,
                left: 0,
            });
            });
            const volver2 = document.getElementById("volver2");
            volver2.addEventListener("click", () => {
                location.reload();
                window.scroll({
                top: 0,
                left: 0,
            });
            });
        });
    });
</script>
