---
const {sucursal,route} = Astro.props
---
<div class="cardEfect my-20 opacity-10 bg-white rounded-2xl h-auto w-full p-2 flex flex-wrap justify-center gap-14">
    <img
      class="w-[100%] h-auto md:w-[300px] 2xl:w-[500px] object-contain md:h-[300px]"
      src="/sedeLaPaz.jpeg"
      alt=`Sucursal de ${sucursal} | Rey de Reyes`
    />
    <div class="flex flex-col justify-center">
      <h3 class="text-[1.4rem] md:text-3xl 2xl:text-5xl font-semibold">
        Sucursal de {sucursal} | Rey de Reyes
      </h3>
      <div class="text-4xl flex flex-col">
        <a class="text-lg xl:text-2xl 2xl:text-4xl w-full flex items-center" href="/" target="_blank">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="40"  height="40"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>Rey de Reyes | {sucursal}
        </a>
        <a class="text-lg xl:text-2xl 2xl:text-4xl flex items-center" href="/" target="_blank">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="40"  height="40"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg> Rey de Reyes | {sucursal}
        </a>
        <a class="text-lg xl:text-2xl 2xl:text-4xl flex items-center" href="/" target="_blank">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="40"  height="40"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-map-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" /></svg>Rey de Reyes | {sucursal}
        </a>
        
      </div>
      <button class="bg-orange-500 text-center text-white font-bold rounded-lg w-[100%]">
       <a class="block md:text-3xl" href=`/Sucursales/${route}`>Más Informacion</a>
      </button>
    </div>
  </div>
  <style>
    .cardEfect{
      transition: 1s opacity;
    }
  </style>
