---
import Footer from "../../components/CompImportant/FooterS.astro";
import Layout from "../../layouts/Layout.astro";
import Whatsapp from "../../components/whatsapp.astro";
import BannerInicio from "../../components/BannerInicio.astro";
---
<Layout title="Instituto | Rey de Reyes - EL Alto">
  <BannerInicio 
    titulo="Sede de El Alto"
    imagen="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuLW20ZKfRfeNXC4vN1n0RMQskHWUyScSAjg&s"
  />  
  <div class="my-16">
    <h1 class="text-3xl md:text-7xl font-bold text-center mb-7 italic">
      <span class="font-[Adelia] text-[#d94a00]">Sede de</span>El Alto
    </h1>
  </div>
  <div class="flex flex-wrap md:flex-nowrap justify-center items-center">
    <div class="w-[90%] md:w-[45%]">
      <h2 class="subtitle text-center md:text-5xl text-2xl font-[Adelia]">
        Docentes
      </h2>
      <div
        id="Docentes"
        class="carousel slide w-[45%] mx-auto"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner contDocentes">
          <!-- FOTOS DE DOCENTES / JSON -->
        </div>
      </div>
    </div>
    <div class="w-[90%] md:w-[45%]">
      <h2 class="subtitle text-center md:text-5xl text-2xl font-[Adelia]">
        Nuestros Ambientes
      </h2>
      <div
        id="ambientes"
        class="carousel slide rounded-2xl"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner contAmbientes rounded-2xl">
          <!-- FOTOS CARGADAS / JSON -->
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#ambientes"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#ambientes"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="grid place-items-center">
    <h2
      class="text-xl md:text-3xl font-bold text-center mb-7 text-[#020236] italic"
    >
      <span class="font-[Adelia] text-[#d94a00]">Galeria de Fotos</span>Sede La
      Paz
    </h2>
    <div
      id="carouselExampleIndicators"
      class="carousel slide w-[80%] md:w-[50%]"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner contGaleria">
        <!-- GALERIA DE FOTOS CARGADAS DESDE EL JSON -->
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div
    id="frase"
    class="text-[#000000] text-center font-bold md:text-4xl px-[15vw] my-16 text-lg"
  >
    "insistir, persistir, resistir y nunca desistir"
  </div>
  <Whatsapp 
    number="73732577"
  />
  <Footer slot="footer" 
    facebook="https://www.facebook.com/InstitutoReydeReyesElAlto"
    tiktok="https://www.tiktok.com/@instituto.reyde.reyes?lang=en"
    instagram="https://www.instagram.com/instituto.reydereyes.elalto/"
    threads="https://www.threads.net/@instituto.reydereyes.elalto"
  />
</Layout>
<script>
  import ElAlto from "../../components/EditarImagenesNoticias/ElAlto.json";
  const contDocentes = document.querySelector(".contDocentes");
  const contAmbientes = document.querySelector(".contAmbientes");
  const contGaleriaFotos = document.querySelector(".contGaleria");
  let loadDocentes = ElAlto.docentes
    .map((docente) => {
      if (ElAlto.docentes[0].docente === docente.docente) {
        return `
        <div class="carousel-item active" data-bs-interval="2000">
              <div class="text-center">
                <img
                  src="${docente.foto}"
                  class="mx-auto mb-4 w-[100%] rounded-full"
                  alt="foto de ${docente.docente}"
                />
                <h5 class="mb-2 text-xl font-medium leading-tight">${docente.docente}</h5>
                <p class="text-neutral-500 dark:text-neutral-400">
                  ${docente.area}
                </p>
              </div>
            </div>
        `;
      } else {
        return `
          <div class="carousel-item" data-bs-interval="2000">
              <div class="text-center">
                <img
                  src="${docente.foto}"
                  class="mx-auto mb-4 w-[100%] rounded-full"
                  alt="foto de ${docente.docente}"
                />
                <h5 class="mb-2 text-xl font-medium leading-tight">${docente.docente}</h5>
                <p class="text-neutral-500 dark:text-neutral-400">
                  ${docente.area}
                </p>
              </div>
            </div>
          `;
      }
    })
    .join("");
  let loadAmbientes = ElAlto.Ambientes.map((ambientes) => {
    if (ElAlto.Ambientes[0].Foto == ambientes.Foto) {
      return `
          <div
              class="carousel-item active rounded-2xl"
              data-bs-interval="2000"
            >
              <img
                class="rounded-2xl"
                src="${ambientes.Foto}"
                class="d-block w-100"
                alt="${ambientes.NombreImagen}"
              />
            </div>
          `;
    } else {
      return `div class="carousel-item rounded-2xl" data-bs-interval="2000">
              <img
                class="rounded-2xl"
                 src="${ambientes.Foto}"
                class="d-block w-100"
                alt="${ambientes.NombreImagen}"
              />
            </div>

          `;
    }
  }).join("");
  let loadGaleria = ElAlto.GaleriFotos.map((fotos) => {
    if (ElAlto.GaleriFotos[0].Foto === fotos.Foto) {
      return `
        <div class="carousel-item active">
          <img
            src="${fotos.Foto}"
            class="d-block w-100"
            alt="${fotos.NombreImagen}"
          />
        </div>
        `;
    } else {
      return `
                <div class="carousel-item">
          <img
            src="${fotos.Foto}"
            class="d-block w-100"
            alt="${fotos.NombreImagen}"
          />
          </div>
        `;
    }
  }).join("");

  contDocentes.innerHTML = loadDocentes;
  contAmbientes.innerHTML = loadAmbientes;
  contGaleriaFotos.innerHTML = loadGaleria;
</script>